@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Bahiana');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-container {
    text-align: center;
    margin: 50px auto 50px auto;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 660px;
    padding: 20px 0px 50px 0px;
    border-radius: 20px;
}

.main-container > img {
    width: 20%;
}

h1 {
    color: white;
    font-family: 'Bahiana', cursive;
    font-weight: normal;
    font-size: 4.5rem;
}

.description-input, .amount-input {
    width: 250px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    border-style: none;
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-self: center;
    background-color: #ffffff;
}

.description-input {
    justify-self: end;
}

.amount-input {
    justify-self: start;
}

input, button, select:focus {
    outline: none;
}

button {
    width: 12vw;
    height: 42px;
    border-radius: 30px;
    margin: auto;
    font-size: 1.1rem;
    display: block;
    background-color: #ff8800;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}

.balance-container {
    width: 100%;
    margin: auto;
}

.balance {
    width: 100%;
    background-color: rgb(4, 20, 37);
    margin: 30px auto;
    padding: 20px;
    color: white;
    font-size: 2rem;
    border-top: 5px solid #54BA61;
    border-bottom: 5px solid #54BA61;
}

.transaction {
    display: grid;
    align-items: center;
    font-size: 1.1rem;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    padding: 8px 35px;
    background-color: #26485c;
    color: #fff;
    border-radius: 50px;
    border: none;
    width: 515px;
    margin: 8px auto;
}

.transaction i {
    text-align: end;
    cursor: pointer;
}

.trans-amount{
    justify-self: flex-end;
    background-color: #26485c;
    padding: 10px;
    border-radius: 50px;
}

.green {
    background-color: #54BA61;
    padding: 5px 15px;
    border-radius: 50px;
}

.trans-description {
    justify-self: flex-start;
}

.interface-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    grid-gap: 15px;
    align-items: center;
}

h4 {
    margin-top: 15px;
    color: white;
    font-weight: 200;
}

.onoffswitch {
    display: block;
    position: relative;
    margin: 5px auto 15px auto;
    width: 130px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
 }
 .onoffswitch-checkbox {
    display: none;
 }
 .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
     border-radius: 50px;
 }
 .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
 }
 .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 41px; padding: 0; line-height: 41px;
    font-size: 16px; color: white; font-weight: bold;
    box-sizing: border-box;
 }
 .onoffswitch-inner:before {
    content: "INCOME";
    font-size: 0.8rem;
    background-color: #54BA61; color: #FFFFFF;
 }
 .onoffswitch-inner:after {
    content: "EXPENSE";
    font-size: 0.8rem;
    padding-right: 40px;
    background-color: #c23e3e; color: #FFFFFF;
    text-align: right;
 }
 .onoffswitch-switch {
    display: block; width: 27px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 85px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
 }
 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
 }
 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
 }

.clear-button {
    width: 7vw;
    border-radius: 50px;
    margin: 25px auto;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: 90ms;
}

.clear-button:hover {
    transform: scale(1.05);
    background-color: #c23e3e;
    color: #fff;
    transition: 210ms;
    cursor: pointer;
    border: none;
}

.delete-icon {
    width: 2vw;
    justify-self: end;
    border: none;
    cursor: pointer;
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.delete-icon:hover,
.delete-icon:focus {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.positive {
    color: #54BA61;
}

.negative {
    color: #c23e3e;
}